[package]
name = "chat"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
byteorder = "1.4.3"
lazy_static = "1.4.0"
futures = "0.3.24"
futures-lite = "1.12.0"
async-net = "1.7.0"
async-std = "1.12.0"
